.search {
    padding-top: 10px;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  .round {
    border-radius: 10px;
  }


  .navbar {
    padding-top: 3px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 3px;
    padding-left: 25px;

  }