@font-face { font-family: Seurat; src: url('fonts/FOT-Seurat Pro UB.otf'); } 

.search {
    padding-top: 10px;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    vertical-align: middle;
   
  }
  .round {
    border-radius: 10px;
    filter: invert(1);
    
  }
  .logo {
    border-radius: 10px;
    
  }

  h1 {
    font-family: Seurat;
    text-align:center;
    animation: intro 1s;
    
    color:white;
  }

  .text {
    animation: intro 1.5s;
  }

  @keyframes intro {

    0% {transform: translate( 0px, 30px)}
    100% {transform: translate( 0px, 0px)}

  }
  @keyframes sin {

    0% {transform: translate( 0px, 3px)}
    30% {transform: translate( 0px, 0px)}

  }
 .searchButton{
  font-family: 'Rubik';
  border: 2px solid transparent;
  border-radius:10px 10px 10px 10px;
  padding: 10px;
  color:white;
  background-color: #802323;

 }
 .searchButton:hover{
  background-color: #5e1515;

 }
 .searchButton:active{
  background-color: #310d0d;

 }

 p{
  font-family: 'Rubik';
  font-weight: 500;
  color:rgb(193, 184, 184);

 }
  .navbar {
    padding-top: 3px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 3px;
    padding-left: 25px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .TopBar{
    animation: intro 0.5s;
    
  }
  input {
    padding-top: -3px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 3px;
    font-family: 'Poppins';
    font-weight: 700;
    color:white;
    background-color:#290606;
  }

  .navbutton {
    background-color: transparent;
    outline-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
  }

  .navbutton:hover {
    background-color: #00000051;
    outline-color: transparent;
    border: 2px solid transparent;
    transition-duration: 0.25s;
  }

  .navbutton:active {
    background-color: #0a2023c0;
    outline-color: transparent;
    border: 2px solid transparent;
    transition-duration: 0.25s;
  }